
body > p:nth-child(3) {
    color:blue;
}
h3 {
    text-decoration: underline;
}
a {
    color: orange;
}

body > p:nth-child(4) > a:nth-child(3) {
    background-color:yellow;
}

ul {
    line-height:1.5;
}
body > div > ul > ul > li:nth-child(1) {
    font-weight:bold;
}

.red-link {
    color:red;
}

ul > ul > ul {
    list-style: none;
}

ul > ul {
    color:blue;
}
body > div > ul > ul > ul > li:nth-child(1) {
    font-weight: bold;
}
ul .item1 {
    font-weight: bold;
}
ul .item1 a {
    color:red;
}